@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    font-family: Arial;	
}

#title {
    font-family: Righteous;	
    font-size: 50px;
}

#title2 {
    font-size: 75px;
    margin-top: -25px;
    margin-bottom: 15px;
    color: gray;
}

.button {
    font-size: 30px;
    color: gray;    
    background-color: white;
    height: 50px;
    width: 225px;
}

.button:active {
    background-color: black;
    color: white;	
}

.button:focus {
    outline: none;
}

#close {
    font-size: 30px;
    color: gray;    
    background-color: white;
    height: 50px;
    width: 225px;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
}

#close:active {
    color: white;    
    background-color: black;
}

#close:focus {
    outline: none;
}

.gameElement {
    display: none;
}

#healthBarFrame {
    height: 25px;
    width: 150px;
    background-color: white;	
    border: 2px solid black;
}

#healthBar {
    margin-top: -20px;
    height: 25px;
    width: 100%;
    background-color: lime;	
}

#healthDisplay {
    margin-left: 40%;
}

#enemyHealthBarFrame {
    height: 25px;
    width: 150px;
    margin-top: 5px;
    background-color: white;	
    border: 2px solid black;
    display: none;
}
    
#enemyHealthBar {
    margin-top: -20px;
    height: 25px;
    width: 100%;
    background-color: darkred;	
}
    
#enemyHealthDisplay {
    margin-left: 40%;
}

#baseControls {
    margin-top: 10px;	
}

#inventory {

}

.inventoryClass {
    display: none;
    overflow: auto;
}

.inv-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    width: 500px;
    height: 750px;
    right: 2%;
    top: 0;
    position: fixed;
    margin-top: 10px;
}

#coins {
    margin-top: -15px;
}

#statBoard {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.stat {
    border: 1px solid black;
    height: 100px;
    flex: 1;
}

#displays {
    font-size: 20px;
}